//colors
$color_alabaster_approx: #fbfbfb;
$color_dodger_blue_approx: #197beb;
$color_gray_approx: #818181;
$color_mercury_approx: #e5e3e3;
$color_shark_approx: #282828;
$color_regent_gray_approx: #8997a7;
$white: #fff;
$color_royal_blue_35_approx: rgba(77, 109, 230, 0.35);
$color_tory_blue_approx: #0b56ac;
$white_10: rgba(255, 255, 255, 0.1);
$mercury: #e5e5e5;
$color_flamingo_approx: #f06031;
$color_royal_blue_approx: #4d6de6;
$black_35: rgba(0, 0, 0, 0.35);
$color_mine_shaft_approx: #333;
$color_orange_peel_approx: #ff9f00;
$color_olive_drab_approx: #6a9e39;
$color_maroon_flush_approx: #c3185c;
$color_cloud_burst_approx: #202a4d;
$color_nebula_approx: #c5d4db;
$color_trinidad_approx: #ed570b;
$color_solitude_approx: #e7eefe;
$gallery: #efefef;
$color_pickled_bluewood_approx: #31455b;
$color_dodger_blue_20_approx: rgba(25, 123, 235, 0.2);
$color_trinidad_70_approx: rgba(237, 87, 11, 0.7);
$color_mariner_approx: #3367d6;
$black_10: rgba(0, 0, 0, 0.1);
$color_tuatara_approx: #383838;
$color_mariner_70_approx: rgba(51, 103, 214, 0.7);