body{
    background-color: blueviolet;
}

h1{
    width: 100%;
    max-width: 600px;
    border: 2px dotted #000075;
    margin: auto;
    text-align: center;
    padding: 20px;
}
p{
    color: aliceblue;
}
.colorb{
    color: black;
}

.extra{
    color: black;
    text-align: 15px;
    border: 5px;
}

section{
    width: 40%;
    float: left;
    border: double 3px red;
    margin: 20px;
    padding: 15px 25px;
    border-radius: 100%;
    background-image: url(../../html.png);
    overflow: hidden;
    background-position: 50% 50%;
}